chainlit==1.0.301
deep-translator==1.11.4
faiss-gpu==1.7.2
hanzidentifier==1.2.0
lingua-language-detector==2.0.2
llama-index==0.9.47
neo4j==5.18.0
plotly==5.19.0
pydot==2.0.0
sentence_transformers==2.5.1
transformers==4.37.2
