# client.toml
[client]
remote_addr = "rgdchatbot.me:2333"

[client.services.app]
token = "RATHOLE_TOKEN"
local_addr = "127.0.0.1:80

[client.services.ssh]
token = "RATHOLE_TOKEN"
local_addr = "127.0.0.1:22
