# server.toml
[server]
bind_addr = "0.0.0.0:2333"

[server.services.app]
token = "RATHOLE_TOKEN"
bind_addr = "0.0.0.0:18000"

[server.services.neo4j]
token = "RATHOLE_TOKEN"
bind_addr = "0.0.0.0:17474"

[server.services.ssh]
token = "RATHOLE_TOKEN"
bind_addr = "0.0.0.0:10022"
